head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='format-detection', content='telephone=no')
    meta(name='description', content=page.description)
    include head/_favicon.jade
    include head/_fonts.jade
    title=page.title
    link(rel='stylesheet', href=paths.assets.styles.sass.out + '/screen.css')
